.toolbar {
    padding: 20px;
    background-color: blue;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}

.arrow-up {
    padding: 20px;
    background-color: yellow;
    position: fixed;
    bottom: 0;
    right: 10px;
}

.toolbar-2 {
    margin-top: 100px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: yellow;
}

.parent {
    position: relative;
    left: 30px;
}

.child {
    position: absolute;
    left: 100px;
}